
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArtistLabel" translate="therockbibleApp.artist.home.createOrEditLabel">Create or edit a Artist</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="artist.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="therockbibleApp.artist.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="artist.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="therockbibleApp.artist.realName" for="field_realName">RealName</label>
            <input type="text" class="form-control" name="realName" id="field_realName"
                    ng-model="artist.realName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="therockbibleApp.artist.bornIn" for="field_bornIn">BornIn</label>
                <div class="input-group">
                    <input id="field_bornIn" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="artist.bornIn" is-open="datePickerForBornIn.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForBornInOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="therockbibleApp.artist.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="artist.age"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="therockbibleApp.artist.bio" for="field_bio">Bio</label>
            <input type="text" class="form-control" name="bio" id="field_bio"
                    ng-model="artist.bio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="therockbibleApp.artist.yearsActive" for="field_yearsActive">YearsActive</label>
            <input type="text" class="form-control" name="yearsActive" id="field_yearsActive"
                    ng-model="artist.yearsActive"
                     />
        </div>

        <div name="myForm" class="form-group">
            <label class="control-label" translate="therockbibleApp.artist.picture">Picture</label>
            <br/>

            <img ng-src="/uploads/artists/{{artist.picture}}.jpg" style="max-width:600px" class="thumb" ng-if="!picFile">
            <p/>

            <button class="btn btn-default" id="field_picture" type="file" ngf-select ng-model="picFile" name="file"
                    accept="image/*" ngf-max-size="2MB"
                    ngf-model-invalid="errorFile" data-toggle="tooltip"><span class="glyphicon glyphicon-picture"/>
                Upload image
            </button>
            <button class="btn btn-danger" ng-click="picFile = null" ng-show="picFile"><span
                class="glyphicon glyphicon-remove"/> Remove
            </button>
            <br>
            <i ng-show="myForm.file.$error.maxSize">File too large
                {{errorFile.size / 1000000|number:1}}MB: max 8M</i>
            <br/>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" style="max-width:600px" class="thumb">
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
             ng-bind="picFile.progress + '%'"></div>
      </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>

        <div class="form-group">
            <label translate="therockbibleApp.artist.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="artist.user" ng-options="user as user.email for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="therockbibleApp.artist.country" for="field_country">country</label>
            <select class="form-control" id="field_country" name="country" ng-model="artist.country" ng-options="country as country.name for country in countrys track by country.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="therockbibleApp.artist.sex" for="field_sex">sex</label>
            <select class="form-control" id="field_sex" name="sex" ng-model="artist.sex" ng-options="sex as sex.name for sex in sexs track by sex.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="therockbibleApp.artist.status" for="field_status">status</label>
            <select class="form-control" id="field_status" name="status" ng-model="artist.status" ng-options="status as status.status for status in statuss track by status.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="therockbibleApp.artist.social" for="field_social">social</label>
            <select class="form-control" id="field_social" multiple name="social" ng-model="artist.socials" ng-options="social as social.url for social in socials track by social.id"></select>
        </div>
        <div class="form-group">
            <label translate="therockbibleApp.artist.instrument" for="field_instrument">instrument</label>
            <select class="form-control" id="field_instrument" multiple name="instrument" ng-model="artist.instruments" ng-options="instrument as instrument.instrument for instrument in instruments track by instrument.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
