<div ng-cloak>
    <style>
        .navbar-brand{
            display:none;
        }
    </style>
    <div class="row" style="text-align:center">
            <img src="/media/logoindex.png"/>

            <div ng-switch="isAuthenticated()">

                <h3 style="color: pink" ng-switch-when="true">Welcome, <a style="color:#b3d2f2" href="/#/settings">{{account.login}}!</a></h3><br/>

                <div ng-switch-when="true" class="container container-table">
                    <div class="row vertical-center-row">
                        <div class="text-center">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group pull-right" >
                                    <input type="text" class="form-control buscadorindex" ng-model="searchQuery" id="searchQuery"
                                           placeholder="Search a band by name" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Search a band by name'">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info buscadorindexbutton" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid divconwallpaper" style="margin-top:180px;">
                    <div class="row">
                        <div class="col-lg-6">
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                            Hola<br/>
                        </div>
                    </div>
                </div>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>                            Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                Hola<br/>
                <a type="button" class="btn btn-default misbutons" style="margin-right:10px;" ng-switch-when="false"
                   class="alert-link" href="#/login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    ENTER
                </a>
                <a type="button" class="btn btn-default misbutons" ng-switch-when="false" class="alert-link" href="#/register">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    REGISTER
                </a>
            </div>
    </div>
</div>
