<div ng-cloak>
    <style>
        .navbar-brand{
            display:none;
        }
    </style>
    <div class="row" style="text-align:center">
            <img style="margin:auto; display:block;" class="img-responsive" src="/media/logoindex.png"/>

            <div class="containerindex" ng-switch="isAuthenticated()">

                <h3 style="color: pink" ng-switch-when="true">Welcome, <a style="color:#b3d2f2" href="/#/settings">{{account.login}}!</a></h3><br/>

                <div ng-switch-when="true" class="container container-table">
                    <div class="row vertical-center-row">
                        <div class="text-center">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group pull-right" >
                                    <input type="text" class="form-control buscadorindex" ng-mel="searchQuery" id="searchQuery"
                                           placeholder="Search a band by name" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Search a band by name'">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info buscadorindexbutton" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <a type="button" class="btn btn-default misbutons" style="margin-right:10px;" ng-switch-when="false"
                   class="alert-link" href="#/login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    ENTER
                </a>
                <a type="button" class="btn btn-default misbutons" ng-switch-when="false" class="alert-link" href="#/register">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    REGISTER
                </a>
                <div class="container-fluid divconwallpaper" style="margin-top:180px; margin-right:-19px;margin-left:-20px; padding-top:13.5%; padding-bottom:13.5%;">
                    <div class="row-fluid">
                        <div id="indexthumbs" class="span4 offset2">

                            <div class="col-md-4">
                                <div href="band" class="thumbnail mainthumbs">
                                    <i class="material-icons iconthumbs" style="font-size:100px;">sort_by_alpha</i><br/>
                                    <span>alphabet</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div href="band" class="thumbnail mainthumbs">
                                    <i class="material-icons iconthumbs" style="font-size:100px;">location_on</i><br/>
                                    <span>country</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div href="band" class="thumbnail mainthumbs">
                                    <i class="material-icons iconthumbs" style="font-size:100px;">music_note</i><br/>
                                    <span>genre</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="lastestbandsindex">
    <h1 unselectable="on" class="titleindex">Lastest bands added</h1>
        <div class="row">
            <div class="col-sm-6 col-md-3 bands" ng-repeat="band in bands | filter:searchQuery">
                <div ui-sref="band.detail({id:band.id})" class="thumbnail bandthumbs">

                    <div style="height: 200px;"><img ng-src="/uploads/{{band.picture}}.jpg" style="height: 200px; width: 100%; object-fit: cover;" ng-if="band.picture"/>
                        <img ng-src="/media/stage.jpg" style="max-height: 100px; min-width: 100%;" ng-if="!band.picture"/></div>

                    <div class="caption">
                        <h3>{{ band.name }}</h3>

                        <p uib-popover-html="getPopoverData(band.genres)" popover-trigger="mouseenter" popover-placement="right" class="thumbgenre"><b>Genre: </b><span ng-repeat="y in band.genres">{{y.name}}{{$last ? '' : ', '}}</span></p>
                        <p><b>Country:</b> {{band.country.name}}</p>
                        <p><b>Status:</b> {{band.status.status}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
        </div>
    </div>
</div>
