html{
    background: url("../images/body.jpg") center fixed;
}
body {
    background: transparent;
    font-family: sans-serif;
    color: whitesmoke;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.well{
    border: none;
    border-radius:0px;
}

.well::after{
    content: "";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.pad {
    padding: 10px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}
/* ==========================================================================
Social Buttons
========================================================================== */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* entity tables helpers */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* Align text in td verifically (top aligned by Bootstrap) */
.jh-table > tbody > tr > td {
    vertical-align: middle;
}
/* end of entity tables helpers */

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* jhipster-needle-css-add-main JHipster will add new css style */

.navbar-default{
    background: transparent;
    border:none;
}

.misbutons{
    margin-top:30px;
    background:transparent;
    border: 2px solid pink;
    color: whitesmoke;
    font-family:Roboto;
}

.misbutons:hover{
    transition:0.5s;
    background:transparent;
    box-shadow: 0 0 1em #B0FFAD;
    color: whitesmoke;
    font-family:Roboto
}

.buscadorindex{
    font-family:Roboto;
    font-size: 20px;
    font-weight: bold;
    color: pink;
    width:100%;
    height:50px;
    display:block;
    background:transparent;
}
.buscadorindex:focus{
    border-color: #ffadf6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.buscadorindexbutton{
    border-color: #ccc;
    height:50px;
    display:block;
    background:transparent;
    color:white;
}

.buscadorindexbutton:hover{
    background-color: transparent;
    color: #ffadf6;
    transition:0.6s;
    border-color: #ffadf6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.buscadorindex::-webkit-input-placeholder {
    font-family:Roboto;
    font-weight: 300;
    font-size: 20px;
    color: pink;
}

.buscadorindex:-moz-placeholder { /* Firefox 18- */
    font-family:Roboto;
    font-weight: 300;
    font-size: 20px;
    color: pink;
}

.buscadorindex::-moz-placeholder {  /* Firefox 19+ */
    font-family:Roboto;
    font-weight: 300;
    font-size: 20px;
    color: pink;
}

.buscadorindex:-ms-input-placeholder {
    font-family:Roboto;
    font-weight: 300;
    font-size: 20px;
    color: pink;
}

.divconwallpaper{
    background: url("../images/indexwallpaper.jpg") no-repeat center center fixed;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background:transparent;
    color: #ccc;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background:transparent;
    color: #ccc;
}

.navbar-default .navbar-nav > li > a {
    color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover {
    color: pink;
}

#indexthumbs>.thumbnail{
    display: inline-block;
    padding:6%;
    margin:3%;
}
.mainthumbs{
    background-color:rgba(80,22,91,0.2);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius:8px;
    font-weight:bold;
    color: whitesmoke;
    font-family: Roboto;
    font-weight: 100;
    font-size:50px;
    margin:40px;
    padding:53px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.mainthumbs:hover{
    outline: 0;
    transition:0.8s;
    background-color:rgba(80,22,91,0.4);
    -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,.075), 0 0 17px rgba(236, 175, 233, .6);
    box-shadow: inset 0 10px 10px rgba(0,0,0,.075), 0 0 17px rgba(102, 175, 233, .6);
    color:whitesmoke;
    text-shadow: -1px -1px 50px #ebebeb, 1px 1px 50px #ebebeb, -1px 1px 50px #ebebeb, 1px -1px 50px #ebebeb;
}
#indexthumbs{
    text-shadow: -1px -1px 20px #ebebeb, 1px 1px 20px #ebebeb, -1px 1px 20px #ebebeb, 1px -1px 20px #ebebeb;
}

.iconthumbs {
    text-shadow: none;
}

.barralateral{
    position:fixed;
}

.bandthumbs{
    color:white;
    background-color:rgba(0,0,0,0.2);
    border:none;
}

.bandthumbs .caption {
    color: white;
}

.popover{
    border-radius:0px;
    background-color:rgba(0,0,0,0.9);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    color:white;
}

.modal-header{
    color:black;
}
.modal-body{
    color:black;
}

.addbutton{
    width:100%;
    height:50px;
    background:transparent;
    border: 1px solid #ccc;
    color: whitesmoke;
    font-family:Roboto;
}

.addbutton:hover{
    transition:0.5s;
    background:transparent;
    box-shadow: 0 0 1em #B0FFAD;
    color: whitesmoke;
    font-family:Roboto
}


.buscador{
    font-family:Roboto;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    width:100%;
    height:50px;
    display:block;
    background:transparent;
}
.buscador:focus{
    border: 1px solid #ccc;
}
.buscadorbutton{
    border-color: #ccc;
    height:50px;
    display:block;
    background:transparent;
    color:white;
}

.buscadorbutton:hover{
    background: transparent;
    color: #B0FFAD;
    transition:0.6s;
    border: 1px solid #ccc;
}

.buscador::-webkit-input-placeholder {
    font-family:Roboto;
    font-weight: 300;
    font-size: 20px;
    color: #ccc;
}

.buscador:-moz-placeholder { /* Firefox 18- */
    font-family:Roboto;
    font-weight: 300;
    font-size: 20px;
    color: #ccc;
}

.buscador::-moz-placeholder {  /* Firefox 19+ */
    font-family:Roboto;
    font-weight: 300;
    font-size: 20px;
    color: #ccc;
}

.buscador:-ms-input-placeholder {
    font-family:Roboto;
    font-weight: 300;
    font-size: 20px;
    color: #ccc;
}

.paginatitulo{
    font-family:Roboto;
    font-weight: 100;
    font-size:50px;
}

.titleindex{
    margin-top:100px;
    margin-bottom:100px;
    font-family:Roboto;
    font-weight: 100;
    font-size:80px;
    text-align:center;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

.closeicon:hover{
    transition:1s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.linknickname{
    font-family: Roboto;
    font-weight: 100;
    font-size: 20px;
    color: #202D33;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    margin-left:10px;
    margin-right:10px;
    background:transparent;
    border: 2px solid pink;
    color: whitesmoke;
    font-family:Roboto;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background:transparent;
    border:none;
    color: whitesmoke;
    font-family:Roboto;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    cursor:default;
}

.footer{
    background-color:#151216;
    margin-right: -15px;
    margin-left: -15px;
    margin-top:10%;
    z-index: 99;
    color: #ccc;
    padding: 150px 0px 150px 0;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-family:Roboto;
    font-weight:100;
    font-size:50px;
}

.footer a{
    color: #ccc;
    opacity:0.5;
    margin-right:20px;
}

.footer a:hover{
    transition:1s;
    opacity: 1;
    color: #fbffe8;
}

@media screen and (max-width: 800px) {
    .titleindex{
        transition:1s;
        font-size:70px;
    }

}
@media screen and (max-width: 720px) {
    .footer{
        transition:1s;
        font-size:40px;
    }

    .titleindex{
        transition:1s;
        font-size:60px;
    }
}

@media screen and (max-width: 620px){
    .titleindex{
        transition: 1s;
        font-size:50px;
    }
}
@media screen and (max-width: 560px) {
    .footer{
        transition:1s;
        font-size:30px;
    }

    .titleindex{
        transition:1s;
        font-size:40px;
    }
}

@media screen and (max-width: 450px) {
    .titleindex{
        transition:1s;
        font-size:30px;
    }
}

@media screen and (max-width: 370px) {
    .footer{
        transition:1s;
        font-size:20px;
    }

    .titleindex{
        transition:1s;
        font-size:20px;
    }
}

.blackiconbar:hover>a>i {
    color: #000 !important;
}
