<div>
    <h2 class="paginatitulo">My album collection</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 input-group">
                <form name="searchForm" class="form-inline">
                    <input type="text" class="form-control buscador" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'therockbibleApp.album.home.search' | translate }}">
                </form>
            </div>
        </div>
    </div>
    <br/>
    <table class="table band" style="text-align: center;">
        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
            <th jh-sort-by="title"><span translate="therockbibleApp.album.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="releaseDate"><span translate="therockbibleApp.album.releaseDate">Release date</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="albumTypes.name"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th></th>
        </tr>
    </table>

    <div class="row">
        <div class="col-sm-6 col-md-3 bands" ng-repeat="favouriteAlbum in favouriteAlbums | filter:searchQuery">
            <div
                style="display:inline-block; margin:5px; font-size:14px;"
                class="thumbnail bandthumbs albumthumbs">
                <img ui-sref="album.detail({id:favouriteAlbum.album.id})"
                     style="height: 200px; width: 100%; object-fit: cover;"
                     ng-src="/uploads/albums/{{favouriteAlbum.album.picture}}.jpg"/>

                <a ng-click="like(favouriteAlbum.album.id)" aria-label="More">
                    <md-button ng-class="{true: 'fav2disc', false: 'favdisc'}[favouriteAlbum.liked == true]"
                               icon="favorite-border"
                               style="float: right; top: -30px; right: 18px; background:rgba(255,192,203,0.1); padding-top:7px;" class="md-fab">
                        <i class="material-icons">bookmark</i>
                    </md-button>
                </a>

                <div ui-sref="album.detail({id:favouriteAlbum.album.id})" class="caption">
                    <h3 class="responsivetitle"> {{favouriteAlbum.album.title}}</h3>
                    <h4> {{favouriteAlbum.album.releaseDate | date:"yyyy" }}</h4>
                    <h5> {{favouriteAlbum.album.albumTypes.name}}</h5></div>
            </div>
        </div>
    </div>
</div>
