<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-inverse closed sidebar-fixed-left" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover">
        <!-- Top bar -->
        <!-- Sidebar brand image -->
        <div class="picnavbarlateral" ng-controller="NavbarLateralController" ng-model="profilepic" ngf-drop style="height: 100%;">
            <div class="row-fluid infodrag2" unselectable="on"><span unselectable="on"><i class="fa fa-upload" aria-hidden="true"></i> Drag your new profile picture here to update.</span></div>
            <img class="fotoprofile" ng-src="/uploads/{{account.userPicture}}.jpg" style="height: 100%; width: 100%; object-fit: cover; object-position:0 0;" ng-if="account.userPicture"/>
            <img ng-src="/uploads/default-user.jpg" style="height: 100%; width: 100%; object-fit: cover;" ng-if="!account.userPicture"/>
        </div>
        <!-- Sidebar brand name -->
        <a data-toggle="dropdown" class="sidebar-brand linknickname" href="/#/settings">
            <div ng-controller="NavbarLateralController">{{account.login}}</div>
            <i class="material-icons">open_in_browser</i>
        </a>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            <ul id="settings-dropdown" class="dropdown-menu">
                <li>
                    <a href="#" tabindex="-1">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Help
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Exit
                    </a>
                </li>
            </ul>
        </li>
        <li class="blackiconbar">
            <a href="#" class="link">
                <i class="sidebar-icon glyphicon glyphicon-home"></i>
                Home
            </a>
        </li>
        <li class="blackiconbar">
            <a href="#"  class="link">
                <i class="sidebar-icon glyphicon glyphicon-user"></i>
                Profile
            </a>
        </li>
        <li class="blackiconbar">
            <a ui-sref="bands" class="link">
                <i class="sidebar-icon glyphicon glyphicon-headphones"></i>
                Bands
            </a>
        </li>
        <li class="blackiconbar">
            <a ui-sref="#" class="link">
                <i class="sidebar-icon glyphicon glyphicon glyphicon-send"></i>
                Reviews
            </a>
        </li>
        <li class="blackiconbar">
            <a ui-sref="#" class="link">
                <i class="sidebar-icon glyphicon glyphicon glyphicon-flash"></i>
                Collection
            </a>
        </li>
        <li class="blackiconbar">
            <a ui-sref="#" class="link">
                <i class="sidebar-icon glyphicon glyphicon-heart-empty"></i>
                Favs
            </a>
        </li>
        <li class="blackiconbar">
            <a ui-sref="settings" class="link">
                <i class="sidebar-icon glyphicon glyphicon-cog"></i>
                Settings
            </a>
        </li>
        <li class="divider"></li>
        <li class="dropdown">
            <a class="ripple-effect dropdown-toggle" data-toggle="dropdown">
                Add
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a ui-sref="band.new" class="link" tabindex="-1">
                        Band
                        <i class="material-icons">add</i>
                    </a>
                </li>
                <li>
                    <a ui-sref="label.new" class="link" tabindex="-1">
                        Label
                        <i class="material-icons">add</i>
                    </a>
                </li>
                <li>
                    <a ui-sref="artist.new" class="link" tabindex="-1">
                        Artist
                        <i class="material-icons">add</i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div>

    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>
