<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-inverse closed sidebar-fixed-left" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover" style="background-color: #2C3E50;">
        <!-- Top bar -->
        <div class="top-bar"></div>
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <img src="http://img.ffffound.com/static-data/assets/6/618baa2b1d557948db77956df46495b7573559b8_m.jpg">
        </div>
        <!-- Sidebar brand name -->
        <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
            jotabono92@gmail.com
            <b class="caret"></b>
        </a>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            <ul id="settings-dropdown" class="dropdown-menu">
                <li>
                    <a href="#" tabindex="-1">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Help
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Exit
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon glyphicon glyphicon-user"></i>
                Profile
            </a>
        </li>
        <li>
            <a ui-sref="bands" class="link">
                <i class="sidebar-icon glyphicon glyphicon-headphones"></i>
                Bands
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon md-send"></i>
                Reviews
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon glyphicon glyphicon glyphicon-flash"></i>
                Collection
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon glyphicon glyphicon-heart-empty"></i>
                Favs
            </a>
        </li>
        <li class="divider"></li>
        <li class="dropdown">
            <a class="ripple-effect dropdown-toggle" data-toggle="dropdown">
                Add
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a ui-sref="band.new" class="link" tabindex="-1">
                        New band
                        <i class="material-icons">add</i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div>

    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>
