<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-inverse closed sidebar-fixed-left" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover">
        <!-- Top bar -->
        <!-- Sidebar brand image -->
        <div style="height: 100%;">
            <img ng-src="/uploads/default-user.png" style="height: 100%; width: 100%; object-fit: cover;"/>
        </div>
        <!-- Sidebar brand name -->
        <a data-toggle="dropdown" class="sidebar-brand" href="/#/settings">
            {{account.login}}
            <b class="caret"></b>
        </a>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            <ul id="settings-dropdown" class="dropdown-menu">
                <li>
                    <a href="#" tabindex="-1">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Help
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Exit
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon glyphicon glyphicon-user"></i>
                Profile
            </a>
        </li>
        <li>
            <a ui-sref="bands" class="link">
                <i class="sidebar-icon glyphicon glyphicon-headphones"></i>
                Bands
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon md-send"></i>
                Reviews
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon glyphicon glyphicon glyphicon-flash"></i>
                Collection
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon glyphicon glyphicon-heart-empty"></i>
                Favs
            </a>
        </li>
        <li class="divider"></li>
        <li class="dropdown">
            <a class="ripple-effect dropdown-toggle" data-toggle="dropdown">
                Add
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a ui-sref="band.new" class="link" tabindex="-1">
                        Band
                        <i class="material-icons">add</i>
                    </a>
                </li>
                <li>
                    <a ui-sref="label.new" class="link" tabindex="-1">
                        Label
                        <i class="material-icons">add</i>
                    </a>
                </li>
                <li>
                    <a ui-sref="artist.new" class="link" tabindex="-1">
                        Artist
                        <i class="material-icons">add</i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div>

    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>
