<div>
    <h2>{{band.name}}</h2>
    <img data-ng-src="/media/stage.jpg" style="max-height: 300px; width: 100%;" ng-if="!band.picture"/>
    <img data-ng-src="{{'data:' + band.pictureContentType + ';base64,' + band.picture}}" style="max-height: 300px; min-width: 50%;" ng-if="band.picture"/>
    <p></p>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.location">Location</span>
                </td>
                <td>
                    <span class="form-control-static">{{band.location}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{band.status.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.foundingDate">Formed in</span>
                </td>
                <td>
                    <span class="form-control-static">{{band.foundingDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.yearsActive">Years active</span>
                </td>
                <td>
                    <span class="form-control-static">{{band.yearsActive}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.lyricalThemes">Lyrical themes</span>
                </td>
                <td>
                    <span class="form-control-static">{{band.lyricalThemes}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.genre">Genre</span>
                </td>
                <td>
                    <span ng-repeat="genre in band.genres">
                        <a class="form-control-static" ui-sref="genre.detail({id: {{genre.id}}})">{{genre.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.artist">Members</span>
                </td>
                <td>
                    <span ng-repeat="artist in band.artists">
                        <a class="form-control-static" ui-sref="artist.detail({id: {{artist.id}}})">{{artist.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.user">Added by</span>
                </td>
                <td>
                    {{band.user.firstName}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.country">Country</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="country.detail({id:band.country.id})">{{band.country.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.label">Current label</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="label.detail({id:band.label.id})">{{band.label.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="therockbibleApp.band.bio">Bio</span>
                </td>
                <td>
                    <span class="form-control-static">{{band.bio}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            ui-sref="band.edit({id:band.id})"
            class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
    </button>
    <button type="submit"
            ui-sref="band.delete({id:band.id})"
            class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
    </button>
    <p></p>
    <button type="submit"
            ui-sref="band({id:band.id})"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
