<div class="detail">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-12 col-md-12 bands">

                <div class="thumbnail bandthumbs detailthumb">
                    <img ng-src="/uploads/albums/{{album.picture}}.jpg" style="height:500px;width: 100%; object-fit: cover;"
                         ng-if="album.picture"/>
                    <img ng-src="/media/stage.jpg" style="max-height: 100px; min-width: 100%;" ng-if="!album.picture"/>

                    <div class="caption">

                        <div class="row-fluid">
                            <div class="col-lg-12 col-lg-12">
                                <h1>{{album.title}}</h1>
                            </div>
                        </div>
                        <hr class="infowrapper">
                        <!--                        <div class="mapdetail">
                                                <p><b>Location:</b> {{band.location}}</p>
                                                    <ng-map zoom="10" center="{{band.latitude}}, {{band.longitude}}">
                                                        <marker position="{{band.location}}"></marker>
                                                    </ng-map>
                                                </div>-->
                        <div class="row">
                            <div class="col-xs-6">
                                <p><b>Type:</b> {{album.albumTypes.name}}</p>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Label:</b> {{album.label.name}}</p>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Release date: </b><span class="year"> {{ album.releaseDate |  date:"yyyy/MM/dd" }} </span>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Format:</b> {{album.format}}</p>
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Catalog ID:</b> {{album.catalogId}}</p>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Number of copies:</b> {{album.numCopies}}</p>
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Number of songs:</b> {{numberOfSongs}} songs</p>
                            </div>
                            <div class="col-xs-6">
                                <p><b>Reviews:</b> </p>
                                </p>
                            </div>
                        </div>
                        <div class="text-justify">
                            <hm-read-more
                                hm-text="{{ artist.bio }}"
                                hm-limit="500"
                                hm-more-text="read more"
                                hm-less-text="read less"
                                hm-dots-class="dots"
                                hm-link-class="buttonreadmore">
                            </hm-read-more>
                        </div>
                        <hr class="infowrapper">
                        <p style="margin-bottom:20px;"></p>

                        <div ng-cloak class="tabmenu">
                            <md-content>
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="Songs">
                                            <md-list flex>
                                                <md-list-item class="md-3-line" ng-repeat="song in songsByCurrentAlbum" ng-click="null">
                                                    <div ng-bind-html="song.player | toTrusted">

                                                    </div>
                                                    <div style="margin-left: 10px" class="md-list-item-text" layout="column">
                                                        <h3 style="color:white">{{ song.title }}</h3>
                                                        <h4 style="color:white">{{ song.duration }}</h4>
                                                        <a>Show lyrics</a>
                                                    </div>
                                                </md-list-item>
                                            </md-list>
                                    </md-tab>
                                    <md-tab label="Reviews">
                                        <md-content class="md-padding">
                                            <div class="col-lg-6"
                                                 ng-repeat="reviewByCurrentBand in reviewsByCurrentBand">
                                                <div class="thumbnail bandthumbs reviewthumbs">
                                                    <span class="title">{{reviewByCurrentBand.title}}</span>
                                                    <div class="markstyle"><span>{{reviewByCurrentBand.mark}}</span>
                                                    </div>
                                                    <hr class="review infowrapper">
                                                    <div class="text-justify" style="padding:10px;">
                                                    <span class="text">
                                                    <hm-read-more
                                                        hm-text="{{ reviewByCurrentBand.reviewText }}"
                                                        hm-limit="35"
                                                        hm-more-text="read more"
                                                        hm-less-text="read less"
                                                        hm-dots-class="dots"
                                                        hm-link-class="buttonreadmore">
                                                    </hm-read-more>
                                                        </span>
                                                    </div>
                                                    <div class="infouserreview">
                                                        <img
                                                            style="vertical-align:middle; height:40px;width:40px; border-radius:50%; margin:5px;"
                                                            ng-src="/uploads/{{reviewByCurrentBand.user.userPicture}}.jpg">
                                                        <span style="margin-left:5px;" class="name">{{reviewByCurrentBand.user.login}}</span>
                                                        <span
                                                            style="float:right; vertical-align:middle; line-height:50px; margin-right: 5px;"
                                                            class="time">{{reviewByCurrentBand.reviewDate | date:"MM/dd/yy 'at' h:mma"}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <form ng-hide="test" ng-submit="addReview()">
                                                    <div class="input-group" style="width:100%;">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <input ng-model="text1" type="number"
                                                                   class="reviewstyle"
                                                                   placeholder="Mark"/>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <input ng-model="text2" md-maxlength="50" type="text"
                                                                   class="reviewstyle"
                                                                   placeholder="Title"/>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <textarea ng-model="text3" md-maxlength="10000" rows="5"
                                                                      class="reviewstyle"
                                                                      placeholder="Write here your review"></textarea>
                                                        </md-input-container>
                                                        <p><span class="input-group-btn">
                                    <md-button class="md-icon-button sendreview" type="submit">
                <i class="sidebar-icon glyphicon glyphicon glyphicon-send"></i>
                                      </md-button>

                          </span></p>
                                                    </div>
                                                </form>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-content>
                        </div>
                        <p>
                            <button class="detailbutton" ui-sref="bands">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                            </button>
                            <button class="detailbutton" ui-sref="band.edit({id:band.id})">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="detailbutton" ui-sref="band.delete({id:band.id})">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button class="detailbutton" ui-sref="album.new" data-toggle="popover" data-placement="top"
                                    data-trigger="hover" data-content="Add a new album">
                                <span class="glyphicon glyphicon-cd"></span>
                            </button>
                            <button class="detailbutton" ui-sref="artist.new" data-toggle="popover" data-placement="top"
                                    data-trigger="hover" data-content="Add a new member">
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                            <script>
                                $(document).ready(function () {
                                    $('[data-toggle="popover"]').popover();
                                });
                            </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
